
body {
    height: 100%;
    margin-top: 200px;

  }

  .videos {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .btn-email, .btn-instagram, .btn-twitter, .btn-youtube, .btn-github {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-email:hover, .btn-instagram:hover, .btn-twitter:hover, .btn-youtube:hover, .btn-github:hover {
    background-color: #2e2e2e;
    color: #ffffff;
    transform: translateY(-2px);
  }
  
  
  

  
